/* Universal Changes */
body {
    background-color: #f9fcfc;
    margin: 0;
}
* {
    box-sizing: border-box;
}
h1 {
    color: #4E00FD;
    font-family: 'Pragati Narrow', sans-serif;
    line-height: 1.5rem;
}
.logo img {
    width: 3.5rem;
    height 3.5rem;
    margin: 2rem;
    margin-bottom: 0px;
}
a {
    color: #454545;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: underline;
}
img.rounded {
    border-radius: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@font-face {
    font-family: 'Gill-Sans-Regular';
    src: url(fonts/GillSans.woff2) format('woff2'),
         url(fonts/GillSans.woff) format('woff');
}
@font-face {
    font-family: 'Gill-Sans-Semibold';
    src: url(fonts/GillSans-SemiBold.woff2) format('woff2'),
         url(fonts/GillSans-SemiBold.woff) format('woff');
}
p {
    font-family: 'Gill-Sans-Regular';
    font-size: 1.25rem;
}



/* Home Page */
.fwh {
    height: 85vh;
    padding: 2.5rem;
    margin: auto;
    max-width: 600px;
    bottom: 0;
}
.fwh h4 {
    font-family: 'Gill-Sans-Regular';
    margin-bottom: 0;
}
h1.name {
    text-align: left;
    font-size: 5rem;
    margin: 0;   
    line-height: 4.5rem; 
}
#tagline-description {
    font-family: 'Gill-Sans-Semibold';
    font-size: 1.5rem;
    color: #252525;
    margin-top: 10px;
}
.fwh h5 {
    font-family: 'Gill-Sans-Regular';
    font-size: 1.3rem;
    text-align: center;
    padding-top: 12rem;
    margin: 0;

}
.fwh-work {
    padding: 2.5rem;
    margin: auto;
    max-width: 600px;
}
#fwh-gradient {
    min-height: 150vh;
    background-image: linear-gradient(#4E00FD , #DE0AFD);
}
.work-title {
    font-family: 'Gill-Sans-Semibold';
    display: block;
    color: #F2F3F2;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;
}



/* Project Pages */
.proj-fwh {
    padding: 2.5rem;
    margin: auto;
    max-width: 600px;
    bottom: 0;
}
.proj-fwh p{
    padding: 1rem;
    margin-top: 2rem;
}
.skills ul {
    list-style-type: none;
    line-height: 2.5rem;
    padding: 3rem;
    padding-top: 0;
    font-family: 'Gill-Sans-Regular';
}
#secondary-heading {
    font-family: 'Gill-Sans-Semibold';
    padding: 1rem;
    padding-bottom: 0;
}

