/* Universal Changes */
body {
    background-color: #f9fcfc;
    margin: 0;
}
h1 {
    color: #4E00FD;
    font-family: 'Pragati Narrow', sans-serif;
    line-height: 0.88em;
}
.logo img {
    width: 3.5rem;
    height 3.5rem;
    margin: 2rem;
    margin-bottom: 0px;
}
a {
    color: #454545;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: underline;
}
img.rounded {
    border-radius: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
@font-face {
    font-family: 'Gill-Sans-Regular';
    src: url(fonts/GillSans.woff2) format('woff2'),
         url(fonts/GillSans.woff) format('woff');
}
@font-face {
    font-family: 'Gill-Sans-Semibold';
    src: url(fonts/GillSans-SemiBold.woff2) format('woff2'),
         url(fonts/GillSans-SemiBold.woff) format('woff');
}
p {
    font-family: 'Gill-Sans-Regular';
    font-size: 1.2em;
}



/* Home Page */
.fwh {
    height: 85vh;
    box-sizing: border-box;
    padding: 35px;
}
.fwh h4 {
    font-family: 'Gill-Sans-Regular';
    margin-bottom: 0;
}
h1.name {
    text-align: left;
    font-size: 5em;
    margin: 0;   
    line-height: 0.88em; 
}
#tagline-description {
    font-family: 'Gill-Sans-Semibold';
    font-size: 1.5em;
    color: #252525;
    margin-top: 10px;
}
.fwh h5 {
    font-family: 'Gill-Sans-Regular';
    font-size: 1.5em;
    text-align: center;

}
.fwh-work {
    height: 150vh;
    background-image: linear-gradient(#4E00FD , #DE0AFD);
    box-sizing: border-box;
    padding: 25px;
}
/* .fwh-work img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
} */
.work-title {
    font-family: 'Gill-Sans-Semibold';
    display: block;
    color: #F2F3F2;
    font-size: 1.2em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;
}

/* Project Pages */
.proj-fwh {
    padding: 15px;
}
.proj-fwh p, .proj-fwh h1{
    padding: 25px;
    margin: 0;
}

