/* Universal Changes */
body {
    background-color: #f9fcfc;
}
h1 {
    color: #4E00FD;
    font-family: 'Pragati Narrow', sans-serif;
}
.logo img {
    width: 4rem;
    height 4rem;
}
a {
    color: #454545;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: underline;
}
img.rounded {
    border-radius: 1.5rem;
    width: 50%;
    height: auto;
}



/* Home Page */
.fwh {
    height: 85vh;
    box-sizing: border-box;
    padding: 35px;
}
.fwh h4 {
    margin-bottom: 0;
}
h1.name {
    text-align: left;
    font-size: 5em;
    margin: 0;   
    line-height: 0.88em; 
}
#tagline-description {
    /* import fonts */
    font-size: 1.75em;
    margin-top: 10px;
}
.fwh h5 {
    font-size: 1.5em;
    text-align: center;
}
.fwh-work {
    height: 100vh;
    background-image: linear-gradient(#4E00FD , #DE0AFD);
    box-sizing: border-box;
    padding: 25px;
}
.work-title {
    display: block;
    color: #F2F3F2;
}



